* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #426ca6;
  --background-color: beige;
  --accent-color: #6fd275;
}
body {
  font-family: helvetica, Arial, sans-serif;
  background-color: var(--background-color);
}

/*Header Styling*/
header {
  background-size: cover;
  display: flex;
  flex-wrap: flex;
  justify-content: space-between;
  padding: 20px 35px;
  /*position: -webkit-sticky;
  position: sticky;*/
  top: 0;
}

header h1 {
  color: var(--text-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0;
}
header a {
  text-decoration: none;
  color: var(--text-color);
}

header nav ul {
  display: flex;
  flex-wrap: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.5vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--accent-color);
  border-radius: 15px;
  text-shadow: none;
}

/*Banner Styling*/

/*About Me Styling*/
.info {
  text-align: left;
  color: var(--text-color);
  padding: 20px;
}

.info h2 {
  color: var(--text-color);
}

.info li {
  list-style: none;
}

/*My Work Styling*/
/*Update after placeholder images are removed*/

.applications {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}

.application {
  margin: 20px;
  background: var(--background-color);
  color: var(--text-color);
  flex: 1;
}

/*Application 1 Image*/
.application-1 img{
  width: 80%;
}

/*Apps 2-5*/
.application img {
  width: 100%;
}

.section-title {
  color: var(--text-color);
  padding: 20px;
}

/*Contact Me Section*/
.contact-info {
  display: flex;
}
.contact-info h2 ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.contact-info ul li {
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
