/* Color Palette
https://www.schemecolor.com/professional-blue-and-grey-color-scheme.php*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #20368f;
  --background-color: beige;
  --accent-color: #000b4f;
  --section-color: #829cd0;
}
body {
  font-family: helvetica, Arial, sans-serif;
  background-color: var(--background-color);
}

/*Header Styling*/
header {
  background-size: cover;
  background-color: var(--section-color);
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 35px;
  /*position: -webkit-sticky;
  position: sticky;*/
  top: 0;
}

header h1 {
  color: var(--text-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 0;
}
header a {
  text-decoration: none;
  color: var(--text-color);
}

header nav ul {
  display: flex;
  flex-wrap: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.5vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--accent-color);
  color: white;
  border-radius: 15px;
  text-shadow: none;
}

footer {
  display: block;
  background-color: var(--section-color);
  padding: 20px 35px;
}
footer p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  margin-top: -30px;
}

/*Banner Styling*/

/*About Me Styling*/
.info {
  color: var(--text-color);
  padding-top: 20px;
}

.info p {
  text-align: left;
  margin-left: 175px;
  margin-right: 50px;

}
/*My Work Styling*/
/*Update after placeholder images are removed*/

.applications {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  position: relative;
  color: white;
}

.applications h3 p {
  vertical-align: bottom;
}

.application {
  margin: auto;
  background: var(--background-color);
  color: white;
  position: relative;
}

.application img {
  width: 80%;
}

.app-description {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 3px solid;
}

.section-title {
  color: var(--text-color);
  padding: 20px;
  display: inline-flex;
  border-right: 2px solid;
}

/*Contact Me Section*/
